<{% extends 'base.html' %}
{% block title %}
    <title>Detail</title>
{% endblock title %}

{% block content %}

<script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <div class="container">

    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Product Details</h3>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Product Id:</label>
    <div class="col-sm-4">
        <label>{{ product.id }}</label> 
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Product Name:</label>
    <div class="col-sm-4">
        <label>{{ product.product_name }} </label>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Product price:</label>
    <div class="col-sm-4">
        <label>{{ product.product_price }} </label>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Product image:</label>
    <div class="col-sm-4">
         <label>{{ product.product_image }} </label>
    </div>
    </div>

<div class="form-group row">
    <label class="col-sm-3 col-form-label">Product size:</label>
    <div class="col-sm-4">
         <label>{{ product.size }} </label>
    </div>
    </div>


    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Product width:</label>
    <div class="col-sm-4">
         <label>{{ product.width}} </label>
    </div>
    </div>
<div class="form-group row">
    <label class="col-sm-3 col-form-label">Product details:</label>
    <div class="col-sm-4">
         <label>{{ product.details }} </label>
    </div>
    </div>


  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">

    <a href="/products" class="btn btn-info">OK</a>
    </div>
  </div>

    </div>


 </div>




